.poc{
    width:624px;
    height: 200px;
    border:1px solid black !important;
   margin-bottom:30px !important;
   background-color:#abeded !important;
   border-radius: 10px;
   font-size: 170px;
}
.poc h2,.bench h2{
    font-size: 170px;
}

.bench{
        width:624px;
        height: 200px;
        border:1px solid black !important;
       margin-bottom:30px !important;
       background-color:#f090f5 !important;
       border-radius: 10px;
       font-size: 170px;
    
}
.title span{
    font-size: 165px;
    color: #f26531;

}
.title img{
    vertical-align: top;
    max-width: 100%;
    margin-top: 20px;
}
@media (max-width:1280px) {
    .poc,.bench{
        width: 500px !important;
        margin: 7px !important;
    }
    .poc h2,.bench h2{
        font-size: 130px;
    }
    .title span{
        font-size: 120px;
        color: #f26531;
    
    }
    .title img{
        vertical-align: top;
        max-width: 13%;
        margin-top: 20px;
    }
}
@media (max-width:998px) {
    .poc,.bench{
        width: 320px !important;
        margin: 7px !important;
    }
    .poc h2,.bench h2{
        font-size: 90px;
    }
    .title span{
        font-size: 90px;
        color: #f26531;
    
    }
}
@media (max-width:768px) {
    .poc,.bench{
        width: 320px !important;
        margin: 7px !important;
    }
}
@media (max-width:540px){
    .poc,.bench{
        width: 450px !important;
        margin: 7px !important;
    }
    .title span{
        font-size: 70px;
        color: #f26531;
    
    }
}
@media (min-width:320px) and (max-width:480px) {
    .poc,.bench{
        width: 320px !important;
        margin: 7px !important;
    }
    .poc h2,.bench h2{
        font-size: 80px;
    }
    .title span{
        font-size: 44px;
        color: #f26531;
    
    }
    .title img{
        vertical-align: top;
        max-width: 13%;
        margin-top: 14px;
    }
}



/* style={{width:'100%',height:'200px',border:'1px solid black',backgroundColor:'#f090f5'}} */