.pocTitle{
    text-align: center;
}
.table-headings{
    color: white;
}
.all-pochome-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.name:hover{
    cursor: pointer;
}



