.personBench{
    height: 100%;
}
.table-responsive {
  max-height: 296px;
}



/* CSS */
.button-56 {
  align-items: initial;
  width: 250px;
  /* background: linear-gradient(to right, #3d3335, #db24db); */

  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  /* color: #fff; */
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-56>h1{
  font-weight: normal;
}

.button-56:after {
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);

}

.button-56:active {
  outline: 0;

}

.button-56:hover {
  outline: 0;
}
.admindashboardTableHead{
  background: linear-gradient(to right, #3d3335, #db24db);
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.badge{
  float: right;
  border-radius: 1.25rem !important;
}
.button1:focus{
  background-color: red;
}