.personBench{
    height: 100%;
}
.responsive {
  max-height: 296px;
  /* border-radius: 1.6rem; */

}

.table{
  /* border: 0px  solid ; */
  /* padding: 10px; */
  box-shadow: 5px 10px 15px #EEEEEE ;
  border-radius: 10px;
  overflow:hidden;

}

.cardsHead{
  color: #120f1a;
}

.h3-subHead{
  color: #ff5722;
  padding: 0;
}

.adminDashboardTableHead{
  background-color: #120f1a;
  color: #fff;
  
}


.table-headings{
  /* color: #ff5722;

  
   */


   color: #fff;
   /* align-items: center; */

  }

/* CSS  */
.bench{ 
  color: #fff !important;
}

.btns{
  font-size:x-large;
}
.poc-p{
  /* background: #fff !important; */
  background: #444 !important;
  /* border-radius: 5px !important; */

}

.poc{
  color: #fff !important; 
  
}

.button-56 {
  padding: 0px;
  align-items: initial;
  width: 200px;

  /* background: #fff; */
  /* background: linear-gradient(to right, #3d3335, #db24db); */
  /* background: linear-gradient(to right,#fff, #E8630A); */
  background: #ff5722 ;

  /* border-radius: 8px; */
  border: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  /* height: 48px; */
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  /* padding: 0 25px; */
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-56>h1{
  font-weight: normal;
  color: #120f1a;
  /* color: green; */
}

.button-56:after {
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);

}

.button-56:active {
  outline: 0;
  /* background-color: #120f1a; */


}

.button-56:hover {
  outline: 0;
}


/* .thName{
  position: relative;
  left: -3rem;
} */


  /* align-items:inherit; */


  /* background: linear-gradient(to right, #3d3335, #db24db); */


/* .tbody{ */
  /* text-align: center; */
/* } */

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.badge{
  float:none;
  border-radius: 1.25rem !important;
}
.button1:focus{
  background-color: red;
}

/* CaRDS */

.card-text{
color: #ff5722;
}

.card-1{
  color: #FF1E00;
}
.card-2{
  color: #F6F54D;
}
.card-3{
  color: #2B7A0B;
}
.allBtn{
  border-radius: 10px;
  padding: 3pox !important;
}
.allP{
  margin-top: 15px;
}